<section ng-controller="UsersController" id="user-creator">


  <form ng-submit="createUser()" id="user-form" >
    <input type="text" class="text" ng-model="newUser.name" placeholder="Enter your name"><br>
    <input type="text" class="text" ng-model="newUser.pic_url" placeholder="Your Image URL"><br>
    <input type="text" class="text" ng-model="newUser.power" placeholder="Your Secret Power"><br>
    <select name="singleSelect" id="singleSelect" ng-model="newUser.color_choice">
      <option value="" selected="selected">Your Power Color</option>
      <option value="rgba(14, 207, 88, 0.4)">Green</option>
      <option value="rgba(255,20,147,0.3)">Pink</option>
      <option value="rgba(0,0,255,0.3)">Blue</option>
      <option value="rgba(85,26,139,0.4)">Purple</option>
      <option value="rgba(153,0,0,0.60)">Red</option>
      <option value="rgba(207, 83, 0,0.7)">Orange</option>
      <option value="rgba(0, 0, 0,0.7)">Black</option>
      <option value="">Grey</option>
    </select><br>
    <input id="submit" type="submit">
  </form>
  <hr>
  <h4>Scroll or Search <input id="card-search" ng-model="searchText" placeholder="Cards"></h4>
  <hr>

  <div class="users">
    <div class="user" ng-repeat="user in users | filter:searchText">
      <div class="overlay" style="background-color:{{user.color_choice}};">
      <div class="name">
        <h2 class="card-title">{{user.name}} </h2>
      </div>
      <img class="card-image" ng-src="{{user.pic_url}}" alt="" />
      <div class="power">
        <h2 class="card-power">{{user.power}}</h2>
      </div>
    </div>
    </div>
  </div>

</section>
